body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #d6d6d6;
  margin: 0;
  min-width: 320px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 2.2;
  background-color: #00b84f;
}

.content {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 2.5px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.25em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #00b84f;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:disabled {
  background-color: #808080;
  cursor: default;
}
button:not(:disabled):hover {
  border-color: #646cff;
}
